<%- include ("../layouts/header")%>

<div class="col">
    <div class="container-fluid p-0">
        <img src="/public/images/play_black.png" alt="settings" width="50" height="50" style="margin-left: 0">
        <h1 style="display: inline-block; vertical-align: middle;">Moje filmy</h1>
        <hr style="border-color: black; margin-top: 4px;">

        <a href="" style="color: blue;">
            <h5 style=" margin-left: 2px; margin-bottom: 15px">Usuń wszystkie swoje filmy</h5>
        </a>
        <hr style="border-color: black; margin-top: 4px; margin-bottom: 9px">

        <div class="row justify-content-end" style="padding-right: 1px" >
            <div style="width: max-content; padding-left: 15px; padding-right: 15px">
                Data przesłania
            </div>
            <div style="width: max-content; padding-left: 15px; padding-right: 15px">
                Wyświetlenia
            </div>
            <div style="width: max-content; padding-left: 15px; padding-right: 15px">
                Komentarze
            </div>
            <div style="width: max-content; padding-left: 15px; padding-right: 15px">
                Średnia ocen
            </div>
        </div>
        <hr style="border-color: black; margin-top: 9px;">


        <div class="row pl-2" style="margin-bottom: 20px;">
            <a href="/settings/moviedetails">
                <img src="/public/thumbnails/663fa0c4fc3c76314c92aa72-1717718678182-thumbnail.png" alt="thirdbestvideo" width="170" height="90" style="display: inline-block">
            </a>

            <span style="display: inline-block; vertical-align: top; margin-left: 8px; font-weight: bold;"><a href="/settings/moviedetails">cacacacca</a></span>


            <div class="row ml-auto mr-0" style="align-items: center;">
                <div style="text-align: right; width: 121px;">
                    <span class="ml-auto">10.06.2024</span>
                </div>
                <div style="text-align: right;width: 122px;">
                    <span class="ml-auto">14</span>
                </div>
                <div style="text-align: right; width: 115px;">
                    <span class="ml-auto">0</span>
                </div>
                <div style="text-align: right; width: 122px;">
                    5
                </div>
            </div>
        </div>

        <div class="row pl-2" style="margin-bottom: 20px;">
            <a href="/settings/moviedetails">
                <img src="/public/thumbnails/663fa0c4fc3c76314c92aa72-1717724533912-thumbnail.png" width="170" height="90" style="display: inline-block">
            </a>

            <span style="display: inline-block; vertical-align: top; margin-left: 8px; font-weight: bold;"><a href="/settings/moviedetails">nowy</a></span>


            <div class="row ml-auto mr-0" style="align-items: center;">
                <div style="text-align: right; width: 121px;">
                    <span class="ml-auto">09.06.2024</span>
                </div>
                <div style="text-align: right;width: 122px;">
                    <span class="ml-auto">5</span>
                </div>
                <div style="text-align: right; width: 115px;">
                    <span class="ml-auto">0</span>
                </div>
                <div style="text-align: right; width: 122px;">
                    2.3
                </div>
            </div>
        </div>

        <div class="container-fluid pt-0" >
            <div class="row pl-2" style="margin-bottom: 20px;">
                <a href="/settings/moviedetails">
                    <img src="/public/thumbnails/663fa0c4fc3c76314c92aa72-1717734715077-thumbnail.png" alt="thirdbestvideo" width="170" height="90" style="display: inline-block">
                </a>

                <span style="display: inline-block; vertical-align: top; margin-left: 8px; font-weight: bold;"><a href="/settings/moviedetails">deszcz</a></span>


                <div class="row ml-auto mr-0" style="align-items: center;">
                    <div style="text-align: right; width: 121px;">
                        <span class="ml-auto">09.06.2024</span>
                    </div>
                    <div style="text-align: right;width: 122px;">
                        <span class="ml-auto">6</span>
                    </div>
                    <div style="text-align: right; width: 115px;">
                        <span class="ml-auto">0</span>
                    </div>
                    <div style="text-align: right; width: 122px;">
                        4.2
                    </div>
                </div>
            </div>
            <div class="row pl-2" style="margin-bottom: 20px;">
                <a href="/settings/moviedetails">
                    <img src="/public/thumbnails/663fa0c4fc3c76314c92aa72-1718047117874-thumbnail.png" alt="thirdbestvideo" width="170" height="90" style="display: inline-block">
                </a>

                <span style="display: inline-block; vertical-align: top; margin-left: 8px; font-weight: bold;"><a href="/settings/moviedetails">qwe</a></span>


                <div class="row ml-auto mr-0" style="align-items: center;">
                    <div style="text-align: right; width: 121px;">
                        <span class="ml-auto">09.06.2024</span>
                    </div>
                    <div style="text-align: right;width: 122px;">
                        <span class="ml-auto">2</span>
                    </div>
                    <div style="text-align: right; width: 115px;">
                        <span class="ml-auto">0</span>
                    </div>
                    <div style="text-align: right; width: 122px;">
                        1
                    </div>
                </div>
            </div>









            <!--<%- include ("../thumbnails/myMoviesRow") %>
            <%- include ("../thumbnails/myMoviesRow") %>
            <%- include ("../thumbnails/myMoviesRow") %>
            <%- include ("../thumbnails/myMoviesRow") %>
            <%- include ("../thumbnails/myMoviesRow") %>-->
        </div>

<%- include ("../layouts/footer")%>
