<%- include ("layouts/header")%>

<div class="col">
    <div class="container-fluid p-0" >
        <div class="channel-banner" style="display: flex; align-items: center;">
            <img src="<%= owner.avatar %>" alt="useravatar" width="150" height="150" style="margin-left: 17px">
            <h1 style="display: inline-block; vertical-align: middle; margin-left: 16px; font-size: 60px"><%= owner.username %></h1>
            <% if(own) { %>
            <a href="/settings">
                <img src="/public/images/settings_icon.png" alt=settings" width="40" height="40" style="margin-left: auto; margin-right: 0">
            </a>
            <% } %>
        </div>

        <h2 class="ml-10p">Informacje</h2>
        <p class="ml-10p mr-10p"><%= owner.description %></p>
        <hr class="ml-10p" style="border-color: black">

        <h2 class="ml-10p">Filmy</h2>

        <div class="row" style="padding-top: 13px; margin-bottom: 35px; margin-left: 10%; margin-right: 10%; gap: 25px 15px;">
            <% ownerVideos.forEach(video => { %>
                <div>
                    <a href="/video?videoid=<%= video._id %>">
                        <img src="<%= video.thumbnail_path %>" alt="<%= video.title %>" width="320" height="160" style="border-radius: 12px">
                    </a>
                    <div style="margin-top: 8px; display: flex;  justify-content: space-between;">
                        <div style="max-width: 200px; word-wrap: break-word;">
                            <a href="/video?videoid=<%= video._id %>">
                                <% if(video.title.length <=50){ %>
                                <b><%= video.title %> </b>
                                <% } else { %>
                                <b><%= video.title.slice(0,47).padEnd(50,".") %> </b>
                                <% } %>
                            </a>
                        </div>
                        <div>
                            <a href="/video?videoid=<%= video._id %>">
                                <div>
                                    <span class="fa fa-star <% if(video.avg_rating >=1){%>checked<%}%> fa-lg"></span>
                                    <span class="fa fa-star <% if(video.avg_rating >=2){%>checked<%}%> fa-lg"></span>
                                    <span class="fa fa-star <% if(video.avg_rating >=3){%>checked<%}%> fa-lg"></span>
                                    <span class="fa fa-star <% if(video.avg_rating >=4){%>checked<%}%> fa-lg"></span>
                                    <span class="fa fa-star <% if(video.avg_rating >=5){%>checked<%}%> fa-lg"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a href="/video?videoid=<%= video._id %>">
                        <div>
                           <%= video.views %> wyświetleń
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>




    <%- include ("layouts/footer")%>
