<%- include ("layouts/header")%>


        <div class="col" style="padding-left:0">
            <div class="container-fluid">
                <div class="row d-flex justify-content-between justify-content-end">

                    <div class="col-lg-auto mt-auto" style="margin-left: 40px;">
                        <% if(topThreeVideos[1]) { %>
                        <a href="/video?videoid=<%= topThreeVideos[1]._id %>">
                        <img src="<%= topThreeVideos[1].thumbnail_path %>" alt="secondbestvideo" width="460" height="255"  style="border-radius: 12px; ">
                        <div class="row" style="margin-top: 8px; margin-left: 0;">
                            <img src="<%= topThreeVideos[1].senderAvatarPath %>" alt="useravatar" width="45" height="45">
                            <div style="float: left; margin-left: 9px">
                                <% if(topThreeVideos[1].title.length <=27){ %>
                                    <b><%= topThreeVideos[1].title %> </b> <br>
                                <% } else { %>
                                        <b><%= topThreeVideos[1].title.slice(0,27).padEnd(30,".") %> </b> <br>
                                <% } %>
                                <%= topThreeVideos[1].senderUsername %>
                            </div>
                            <div style="margin-left: auto; margin-right:19px; float: left;">
                                <span class="fa fa-star <% if(topThreeVideos[1].avg_rating >=1){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[1].avg_rating >=2){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[1].avg_rating >=3){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[1].avg_rating >=4){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[1].avg_rating >=5){%>checked<%}%> fa-2x"></span>
                            </div>
                        </div>
                        </a>
                        <% } else {%>
                        <% } %>
                    </div>


                    <div class="col-lg-auto mt-auto" style="margin-left: 40px; ">
                        <% if(topThreeVideos[0]) { %>
                        <a href="/video?videoid=<%= topThreeVideos[0]._id %>">
                        <img src="<%= topThreeVideos[0].thumbnail_path %>" alt="firstbestvideo" width="475" height="275" style="border-radius: 12px">
                        <div class="row" style="margin-top: 8px; margin-left: 0">
                            <img src="<%= topThreeVideos[0].senderAvatarPath %>" alt="useravatar" width="45" height="45">
                            <div style="float: left; margin-left: 9px">
                                <% if(topThreeVideos[0].title.length <=27){ %>
                                    <b><%= topThreeVideos[0].title %> </b> <br>
                                <% } else { %>
                                    <b><%= topThreeVideos[0].title.slice(0,27).padEnd(30,".") %> </b> <br>
                                <% } %>
                                <%= topThreeVideos[0].senderUsername %>
                            </div>
                            <div style="margin-left: auto; margin-right:19px; float: left;">
                                <span class="fa fa-star <% if(topThreeVideos[0].avg_rating >=1){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[0].avg_rating >=2){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[0].avg_rating >=3){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[0].avg_rating >=4){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[0].avg_rating >=5){%>checked<%}%> fa-2x"></span>
                            </div>
                        </div>
                        </a>
                        <% } else {%>
                        <% } %>
                    </div>

                    <div class="col-lg-auto mt-auto" style="margin-left: 40px; ">
                        <% if(topThreeVideos[2]) { %>
                        <a href="/video?videoid=<%= topThreeVideos[2]._id %>">
                        <img src="<%= topThreeVideos[2].thumbnail_path %>" alt="thirdbestvideo" width="440" height="230" style="border-radius: 12px">
                        <div class="row" style="margin-top: 8px; margin-left: 0">
                            <img src="<%= topThreeVideos[2].senderAvatarPath %>" alt="useravatar" width="45" height="45">
                            <div style="float: left; margin-left: 9px">
                                <% if(topThreeVideos[2].title.length <=27){ %>
                                    <b><%= topThreeVideos[2].title %> </b> <br>
                                <% } else { %>
                                    <b><%= topThreeVideos[2].title.slice(0,27).padEnd(30,".") %> </b> <br>
                                <% } %>
                                <%= topThreeVideos[2].senderUsername %>
                            </div>
                            <div style="margin-left: auto; margin-right:19px; float: left;">
                                <span class="fa fa-star <% if(topThreeVideos[2].avg_rating >=1){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[2].avg_rating >=2){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[2].avg_rating >=3){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[2].avg_rating >=4){%>checked<%}%> fa-2x"></span>
                                <span class="fa fa-star <% if(topThreeVideos[2].avg_rating >=5){%>checked<%}%> fa-2x"></span>
                            </div>
                        </div>
                        </a>
                        <% } else {%>
                        <% } %>
                    </div>
                </div>
                <hr style="padding-bottom:25px">
                <% if(isLoggedIn){ %>
                <img src="/public/images/HeartStraight.png" alt="from subscribers" width="60" height="60" style="display: inline-block;">
                <h1 style="display: inline-block; vertical-align: middle;">Nowości z subskrybowanych kanałów</h1>
                    <div class="row" style="padding-top: 13px; margin-bottom: 35px; margin-left: 1%; margin-right: 10%; gap: 25px 40px;">
                        <% fourFromSubs.forEach(video => { %>
                            <div >
                                <a href="/video?videoid=<%= video._id %>">
                                    <img src="<%= video.thumbnail_path %>" alt="popular" width="320" height="160" style="border-radius: 12px">
                                </a>
                                <div >
                                    <a href="channel?username=<%= video.senderUsername %>"><img src="<%= video.senderAvatarPath %>" alt="useravatar" width="45" height="45" style="float:left; margin-top: 4px;" ></a>
                                </div>
                                <div style="margin-top: 4px; display: flex;  justify-content: space-between; ">
                                    <div style="max-width: 160px; word-wrap: break-word; margin-left:10px">
                                        <a href="/video?videoid=<%= video._id %>">
                                            <% if(video.title.length <=37){ %>
                                                <b><%= video.title %> </b>
                                            <% } else { %>
                                                <b><%= video.title.slice(0,37).padEnd(40,".") %> </b>
                                            <% } %>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/video?videoid=<%= video._id %>">
                                            <div style="font-size: 12px;">
                                                <span class="fa fa-star <% if(video.avg_rating >=1){%>checked<%}%> fa-lg"></span>
                                                <span class="fa fa-star <% if(video.avg_rating >=2){%>checked<%}%> fa-lg"></span>
                                                <span class="fa fa-star <% if(video.avg_rating >=3){%>checked<%}%> fa-lg"></span>
                                                <span class="fa fa-star <% if(video.avg_rating >=4){%>checked<%}%> fa-lg"></span>
                                                <span class="fa fa-star <% if(video.avg_rating >=5){%>checked<%}%> fa-lg"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div style="color: gray; margin-left:5px; clear:both">
                                    <a href="channel?username=<%= video.senderUsername %>" style="color: dimgray">
                                        <%= video.senderUsername %>
                                    </a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
                <h1>Nowe popularne filmy</h1>
                <div class="row d-flex justify-content-start" style="padding-top: 13px; margin-bottom: 35px; margin-left: 1%; margin-right: 1%; gap: 25px 7%;">
                    <% twentyPopular.forEach(video => { %>
                        <div >
                            <a href="/video?videoid=<%= video._id %>">
                                <img src="<%= video.thumbnail_path %>" alt="popular" width="320" height="160" style="border-radius: 12px">
                            </a>
                            <div >
                                <a href="channel?username=<%= video.senderUsername %>"><img src="<%= video.senderAvatarPath %>" alt="useravatar" width="45" height="45" style="float:left; margin-top: 4px;" ></a>
                            </div>
                            <div style="margin-top: 4px; display: flex;  justify-content: space-between; ">
                                <div style="max-width: 160px; word-wrap: break-word; margin-left:10px">
                                    <a href="/video?videoid=<%= video._id %>">
                                        <% if(video.title.length <=37){ %>
                                            <b><%= video.title %> </b>
                                        <% } else { %>
                                            <b><%= video.title.slice(0,37).padEnd(40,".") %> </b>
                                        <% } %>
                                    </a>
                                </div>
                                <div>
                                    <a href="/video?videoid=<%= video._id %>">
                                        <div style="font-size: 12px;">
                                            <span class="fa fa-star <% if(video.avg_rating >=1){%>checked<%}%> fa-lg"></span>
                                            <span class="fa fa-star <% if(video.avg_rating >=2){%>checked<%}%> fa-lg"></span>
                                            <span class="fa fa-star <% if(video.avg_rating >=3){%>checked<%}%> fa-lg"></span>
                                            <span class="fa fa-star <% if(video.avg_rating >=4){%>checked<%}%> fa-lg"></span>
                                            <span class="fa fa-star <% if(video.avg_rating >=5){%>checked<%}%> fa-lg"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div style="color: gray; margin-left:5px; clear:both">
                                <a href="channel?username=<%= video.senderUsername %>" style="color: dimgray">
                                    <%= video.senderUsername %>
                                </a>
                            </div>
                        </div>
                    <% }) %>
                </div>

                <%- include ("layouts/footer")%>


