<%- include ("layouts/header")%>


        <!-- Main content -->
        <div class="col" style="border: 1px solid black; padding-left:0">
            <div class="container-fluid">
                <div class="row d-flex justify-content-between justify-content-end">
                    <div class="col-lg-auto mt-auto" style="margin-left: 40px; ">
                        <img src="/public/images/sunset-1373171_1280.jpg" alt="secondbestvideo" width="460" height="255"  style="border-radius: 12px">
                        <div class="row" style="margin-top: 8px; margin-left: 0">
                            <img src="/public/images/Useravatar.png" alt="useravatar" width="45" height="45">
                            <div style="float: left">
                                <b>Najlepszy film 2</b> <br>
                                Nazwa kanału
                            </div>
                            <div style="margin-left: 125px">
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-auto mt-auto" style="margin-left: 40px; ">
                        <img src="/public/images/sunset-1373171_1280.jpg" alt="firstbestvideo" width="475" height="265" style="border-radius: 12px">
                        <div class="row" style="margin-top: 8px; margin-left: 0">
                            <img src="/public/images/Useravatar.png" alt="useravatar" width="45" height="45">
                            <div style="float: left">
                                <b>Najlepszy film 1</b> <br>
                                Nazwa kanału
                            </div>
                            <div style="margin-left: 140px">
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-auto mt-auto" style="margin-left: 40px; ">
                        <img src="/public/images/sunset-1373171_1280.jpg" alt="thirdbestvideo" width="440" height="230" style="border-radius: 12px">
                        <div class="row" style="margin-top: 8px; margin-left: 0">
                            <img src="/public/images/Useravatar.png" alt="useravatar" width="45" height="45">
                            <div style="float: left">
                                <b>Najlepszy film 3</b> <br>
                                Nazwa kanału
                            </div>
                            <div style="margin-left: 105px">
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star checked fa-2x"></span>
                                <span class="fa fa-star fa-2x"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <hr style="padding-bottom:25px">
                <% if(isLoggedIn){ %>
                <img src="/public/images/HeartStraight.png" alt="from subscribers" width="60" height="60" style="display: inline-block;">
                <h1 style="display: inline-block; vertical-align: middle;">Nowości z subskrybowanych kanałów</h1>
                <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:35px">
                     <%- include ("movieOnMain")%>
                     <%- include ("movieOnMain")%>
                     <%- include ("movieOnMain")%>
                     <%- include ("movieOnMain")%>
                </div>
                <% } %>
                <h1>Nowe popularne filmy</h1>
                <div class="row justify-content-between" style="padding-top: 13px">
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                </div>
                <div class="row justify-content-between" style="padding-top: 13px">
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                </div>
                <div class="row justify-content-between" style="padding-top: 13px">
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                    <%- include ("movieOnMain")%>
                </div>
                <%- include ("layouts/footer")%>


