<%- include ("layouts/header")%>

<div class="col">
    <div class="container-fluid p-0" >
        <div class="channel-banner" style="display: flex; align-items: center;">
            <h1 style="margin-left: 16px; font-size: 60px">Moje playlisty</h1>
        </div>

        <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:10px; margin-left: 10%; margin-right: 10%;">
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
        </div>
        <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:10px; margin-left: 10%; margin-right: 10%;">
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
        </div>
        <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:10px; margin-left: 10%; margin-right: 10%;">
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
            <%- include("thumbnails/playlistThumbnail") %>
        </div>

<%- include ("layouts/footer")%>
