<%- include ("layouts/header")%>

<div class="col">

    <div class="form-popup" id="chngPlistNm" style="visibility: hidden; width: max-content; height: max-content; padding-left: 10px; padding-right: 10px;">
        <div>
            <span style="font-size: 25px;">Wpisz nową nazwę dla playlisty</span>
            <button onclick="closeForm()" class="form-popup-close ml-1" style="display: inline-block; vertical-align: middle;">
                <img src="/public/images/closeX.png" alt="close popup" width="20" height="20">
            </button>
        </div>
        <form action="javascript:;" onsubmit="changePlName()">
            <input type="text" name="PlistName" id="PlistName" style="width: 100%; margin-top: 9px;" required>
        </form>
    </div>

    <div class="container-fluid p-0" >
        <div class="channel-banner" style="display: flex; align-items: center;">
            <h1 id="PlName" style="margin-left: 16px; font-size: 60px">Playlista 1</h1>
            <button onclick="openForm()" style="display: inline-block; vertical-align: middle; margin-left: 15px; border: none">
                <img src="/public/images/change.png" alt="change playlists name" height="30" width="30">
            </button>
        </div>

        <div class="row align-items-center" style="margin-left: 10%; margin-right: 10%; margin-bottom: 20px;">
            <h4>Zawiera 123 filmy</h4>

            <button class="playlist-bttn" style="padding: 10px 15px; border-radius: 30px; margin-left: 2%">
                <img src="/public/images/play-256.png" alt="Odtwórz wszystkie" width="25" height="25">
                <span style="display: inline-block; vertical-align: middle">Odtwórz wszystkie</span>
            </button>

            <button class="playlist-bttn" style="padding: 10px 15px; border-radius: 30px; margin-left: 2%">
                <img src="/public/images/shuffle_playlist.png" alt="Odtwórz losowo" width="25" height="25">
                <span style="display: inline-block; vertical-align: middle">Losowa kolejność</span>
            </button>

            <a class="ml-auto" href="/playlists" style="margin-right: 2px">
                <img src="/public/images/trash.png" alt="delete playlist" width="25" height="25">
            </a>
        </div>

        <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:15px; margin-left: 10%; margin-right: 10%;">
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>

        </div>
        <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:15px; margin-left: 10%; margin-right: 10%;">
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>

        </div>
        <div class="row justify-content-between" style="padding-top: 13px; margin-bottom:15px; margin-left: 10%; margin-right: 10%;">
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>
            <%- include ("thumbnails/movieOnChannel")%>

        </div>



        <script>
            function openForm() {
                const formPopup = document.getElementById("chngPlistNm");

                formPopup.style.visibility = "visible";
                console.log("popup");
            }

            function closeForm() {
                document.getElementById("chngPlistNm").style.visibility = "hidden";
                document.getElementById("PlistName").value = "";
            }

            function changePlName() {
                document.getElementById("PlName").innerHTML = document.getElementById("PlistName").value;
                closeForm();
            }
        </script>

<%- include ("layouts/footer")%>
