<%- include ("layouts/header")%>


<!-- Main content -->
<div class="col" style="padding-left:200px;">
    <div class="container-fluid p-0" >
        <h1 style="margin-bottom: 6px"><%= title %></h1>

            <video  controls>
                <source src="<%= videoPath %>" type="video/mp4">
                Your browser does not support the video tag.
            </video>

        <div class="row" style="margin-top: 8px; margin-left: 0; margin-right: 10%">
            <a href="/channel">
             <img src="/public/images/Useravatar.png" alt="useravatar" width="47" height="47">
            </a>
            <div style="float: left; margin-left: 6px">
                <a href="/channel"> <b><%= sender.username %></b> </a><br>
                <img src="/public/images/heart_unfilled.png" alt="from subscribers" width="20" height="20" onclick=subscribeOrUnsubscribe()>
                <span style="font-weight: bold; font-size: 20px; vertical-align: middle" onclick=subscribeOrUnsubscribe()>Subskrybuj</span>
            </div>
            <div class="ml-auto">
                <span class="fa fa-star <% if(avgRating >=1){%>checked<%}%> fa-2x" onclick=rateVideo(1)></span>
                <span class="fa fa-star <% if(avgRating >=2){%>checked<%}%> fa-2x" onclick=rateVideo(2)></span>
                <span class="fa fa-star <% if(avgRating >=3){%>checked<%}%> fa-2x" onclick=rateVideo(3)></span>
                <span class="fa fa-star <% if(avgRating >=4){%>checked<%}%> fa-2x" onclick=rateVideo(4)></span>
                <span class="fa fa-star <% if(avgRating >=5){%>checked<%}%> fa-2x" onclick=rateVideo(5)></span>
            </div>
        </div>

        <div class="info-comment-section" style="margin-right: 10%">
            <h3>Opis</h3>
            <p class="desc-p"><%= description %></p>

            <h3>Komentarze</h3>

            <p style="margin-bottom: 8px">Musisz być zalogowanym, żeby dodać komentarz</p>
            <button class="login-bttn">
                <img src="/public/images/user-profile.png" alt="login" width="25" height="25">
                <span style="display: inline-block; vertical-align: middle;"> Zaloguj się</span>

            </button>

            <%- include ("comment") %>
            <%- include ("comment") %>
            <%- include ("comment") %>



            <div class="comment-form">
                <h3>Add Your Comment</h3>
                <form id="commentForm">
                    <textarea name="comment" placeholder="Write your comment here..." required></textarea>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>-->

        <script>
            async function rateVideo(rating) {
                const videoId = new URLSearchParams(window.location.search).get("videoid");
                await fetch("/rate_video", {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        videoId: videoId,
                        rating: rating
                    })
                })
            }

            async function subscribeOrUnsubscribe() {
                const senderId = '<%= sender.id %>';
                console.log(senderId);
                await fetch("/subscribe", {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        useridtosubscribe: senderId
                    })
                });
            }
        </script>

<%- include ("layouts/footer")%>

